# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Env
.env

# Docker
*.log

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/0*.py
**/migrations/1*.py
**/migrations/2*.py
**/migrations/3*.py
**/migrations/4*.py
**/migrations/5*.py
**/migrations/6*.py
**/migrations/7*.py
**/migrations/8*.py
**/migrations/9*.py


